.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.logout-button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #fff;
  padding: 5px;
  width: 80px;
}
